@*
    File Name: Browse.cshtml
    Author: Robert Reynolds (200288068)
    Website: http://final-200288068.azurewebsites.net/
    Description: Browse view (MenuController)
*@

@using RestaurantMVC.Models
@model Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Viewing: @Model.Name</h2>