@*
    File Name: Details.cshtml
    Author: Robert Reynolds (200288068)
    Website: http://final-200288068.azurewebsites.net/
    Description: Details view (MenuController)
*@

@using RestaurantMVC.Models
@model Menu

@{
    ViewBag.Title = "Details";
}

<h2>Viewing: @Model.Title</h2>

