@*
    File Name: Index.cshtml
    Author: Robert Reynolds (200288068)
    Website: http://final-200288068.azurewebsites.net/
    Description: Index/Home view (HomeController)
*@

@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2> 
<p>Thank you for choosing MVC Restaurant! Start browsing our <a href="/menu">menu</a> to begin your order!</p>
<img src="~/Assets/images/restaurant.jpg" class="img-thumbnail" alt="Dining Room">

