
@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2> 
<p>Thank you for choosing MVC Restaurant! Start browsing our <a href="/menu">menu</a> to begin your order</p>
<img src="~/Assets/images/restaurant.jpg" class="img-thumbnail" alt="Dining Room">

